<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body >
    <div class="block">
        <div class="text-block">
            <p class="text">{{ first }}</p>
        </div>
        <div class="text-block">
            <p class="text"> {{ second }} </p>
        </div>
    </div>
</body>
</html>